﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Estimation Poker</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="join/13">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Join 13
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@_sessionId">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create new
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-question-mark" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;
    private readonly string _sessionId = $"join/{Guid.NewGuid()}";

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    // ReSharper disable once UnusedMember.Local
    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
