﻿@using EstimationPoker.Data
@using EstimationPoker.Services

@namespace EstimationPoker.Components

<div class="modal" tabindex="-1" style="display: block" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">@Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="OnOk">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@BodyText</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="OnOk">OK</button>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string BodyText { get; set; }

    [Parameter]
    public bool OkPressed { get; set; }

    [Parameter]
    public EventCallback<ModalEventArgs> OnClick { get; set; }

    public void OnOk()
    {
        OnClick.InvokeAsync(new ModalEventArgs(ModalResult.Ok));
    }
}