﻿@namespace EstimationPoker.Components

@*--- Razor component: quantitative rating (number of votes) ---*@

    <div class="rating">
        @for (int i = 0; i < Count && IsRatingVisible; i++)
        {
            <span class="oi oi-media-record rating-span"></span>
            @if (i % 4 == 3)
            {
                <br />
            }
        }
    </div>

@code {
    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public bool IsRatingVisible { get; set; }
}
