﻿@namespace EstimationPoker.Components

<form>
    <div class="form-group">
        <label for="storyTitle">Story Title</label>
        <input type="text" class="form-control alert alert-secondary" role="alert" id="storyTitle" @bind="Title" />
    </div>
    <div class="form-group">
        <label for="textArea">Description</label>
        <textarea class="form-control alert alert-secondary" role="alert" id="textArea" rows="12" @bind="Description"></textarea>
        <small id="storyHelp" class="form-text text-muted">Edit the title and description to update and share with others.</small>
    </div>
    <button type="button" class="btn btn-primary" @onclick="UpdateDescription">Send update to all</button>
</form>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public EventCallback<Tuple<string, string>> OnUpdate { get; set; }

    private void UpdateDescription()
    {
        OnUpdate.InvokeAsync(new Tuple<string, string>(Description, Title));
    }
}