﻿@using EstimationPoker.Data

@namespace EstimationPoker.Components

<div class="container">
    <div class="row">
        <label for="listofvotes">All Votes (# @VotingSession.Votes.Count)</label>
    </div>
    <div class="row">
        @if (VotingSession.HasAllVotes())
        {
            <label class="text-warning">Average @VotingSession.GetAverage()</label>
        }
    </div>
    <div class="row">
        <table id="listofvotes" class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <span class="oi oi-thumb-up"/>
                </th>
                <th scope="col">Voter</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var v in VotingSession.Votes)
            {
                <tr>
                    <th scope="row">
                        <span class="oi @(v.HasVote() ? "oi-thumb-up" : "io-thumb-down")"/>
                    </th>
                    <td>@v.VoterName</td>
                    <td>
                        @(VotingSession.GetVote(v, MyName))
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code
{

    [Parameter]
    public VotingSession VotingSession { get; set; }

    [Parameter]
    public string MyName { get; set; }

}