﻿@using EstimationPoker.Data
@using EstimationPoker.Services

@namespace EstimationPoker.Components

@inject VotingSession VotingSession

<div class="form-group">
    <label>My Vote: </label>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="No effort group">
            <div class="card">
                <div class="card-body border-0">
                    <button type="button" class="btn btn-secondary" @onclick="@(e => OnVote(0))">0</button>
                    <Rating Count="@Counts[0]" IsRatingVisible="@IsRatingVisible" />
                </div>
            </div>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="fibonacci group">
            @foreach (var f in Fibonacci.Enumerate(true, true))
            {
                <div class="card">
                    <div class="card-body border-0">
                        <button type="button" class="btn btn-secondary" @onclick="@(e => OnVote(f))">@f</button>
                        <Rating Count="@Counts[f]" IsRatingVisible="@IsRatingVisible"/>
                    </div>
                </div>
            }
        </div>
        <div class="btn-group" role="group" aria-label="dont know group">
            <div class="card">
                <div class="card-body border-0">
                    <button type="button" class="btn btn-secondary" @onclick="@(e => OnVote(Vote.DontKnow))">?</button>
                    <Rating Count="@Counts[Vote.DontKnow]" IsRatingVisible="@IsRatingVisible"/>
                </div>
            </div>
        </div>
    </div>
</div>

@code 
{
    private int _vote = Int32.MinValue;

    [Parameter]
    public EventCallback<VoteEventArgs> OnClick { get; set; }

    [Parameter]
    public Dictionary<int, int> Counts { get; set; }

    [Parameter]
    public bool IsRatingVisible { get; set; }

    public void OnVote(int v)
    {
        _vote = v;
        OnClick.InvokeAsync(new VoteEventArgs(v));
    }
}