﻿@page "/about"

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About</h1>
        <p class="lead">Estimation Poker</p>
        <p>
            This is a personal Blazor fun project.
            With C#, .NET Core 3.1.0, SignalR, OwningComponentBase with server-side blazor.
        </p>
        <p>Version @GetAssemblyVersion()</p>
        <p>Git<a href="https://bitbucket.org/markusleder/estimationpoker/src/master/"> https://bitbucket.org/markusleder/estimationpoker/src/master/ </a></p>
        <a href="#" class="badge badge-secondary">(c) by Markus Leder (@@dersuhrer) in 2020</a>

    </div>
</div>

@code {
    private string GetAssemblyVersion()
    {
        return GetType().Assembly.GetName().Version.ToString();
    }
}