﻿@page "/counter"
@using EstimationPoker.Data
@inject VotingSession VotingSession

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Voting session with @VotingSession.Votes.Count participants</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
