﻿@page "/estimation/{sessionId}/{name}"

@using EstimationPoker.Data
@using EstimationPoker.Components
@using EstimationPoker.Services

@inherits OwningComponentBase

@inject NavigationManager NavigationManager

<div class="container">
    <h1 style="margin-bottom: 15px">Estimation Session - @Name</h1>

    @if (_isError)
    {
        var bodyText = $"A voter with this name has already joined. Your name is {Name} now.";
        <Modal Title="Error - duplicate name"
               BodyText="@bodyText"
               OnClick="OnOkClickedAfterError"/>
        _votingSession.Exit(Name);
    }
    else
    {
        <div class="row">
            <div class="col-md-8">
                <Voting OnClick="OnVoteClick" Counts="@_counts" IsRatingVisible="@_votingSession.HasAllVotes()"/>
                <div>
                    <VoteList VotingSession="@_votingSession" MyName="@Name"/>
                </div>
                <div class="form-group">
                    <button id="btnClear" type="button" class="btn btn-warning" @onclick="ClearVotes">Clear votes</button>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <TabSet>
                    <Tab Title="Story">
                        <Story Title="@_votingSession.Story" Description="@_votingSession.Description" OnUpdate="OnUpdate"/>
                    </Tab>
                </TabSet>
            </div>
        </div>
    }
</div>

@code
{
    private VotingHubService _votingMessagingService;
    private VotingSession _votingSession;
    private bool _isError;
    private Dictionary<int, int> _counts;

    [Parameter]
    public string SessionId { get; set; }

    [Parameter]
    public string Name { get; set; }

    private Tuple<string, string> GetSessionAction()
    {
        return  new Tuple<string, string>(SessionId, Name);
    }

    protected override async Task OnInitializedAsync()
    {
        var sessionStore = (VotingSessionStore) ScopedServices.GetService(typeof(IVotingSessionStore));
        _votingSession = sessionStore.CreateNew(SessionId);

        SetSessionStoryInformation();

        //CheckForDuplicateVoter();
        _votingSession.Join(Name);

        _counts = _votingSession.GroupAndCount();

        _votingMessagingService = new VotingHubService(SessionId, Name, NavigationManager);
        _votingMessagingService.MessageReceived += OnVotingReceived;
        await _votingMessagingService.StartAsync();

        // notify others that new participant joined
        await _votingMessagingService.SendVotingAsync(_votingSession);
    }

    private void CheckForDuplicateVoter()
    {
        // check for duplicate name
        _isError = _votingSession.Votes.Any(v => v.VoterName.Equals(Name, StringComparison.InvariantCultureIgnoreCase));
        if (_isError)
        {
            Name += $"-{Guid.NewGuid().ToString().Substring(0, 2)}";
        }
    }

    private void SetSessionStoryInformation()
    {
        _votingSession.Story = "BYR-4711 :-) Custom styling";
        _votingSession.Description = "Use grey colors, change bootstrap inputs.";
    }

    private void OnVotingReceived(object sender, MessageReceivedEventArgs e)
    {
        switch (e.MessageType)
        {
            case Messages.UpdateStory:
            case Messages.UpdateVoting:
                _counts = _votingSession.GroupAndCount();
                InvokeAsync(StateHasChanged);
                break;
        }
    }

    // ReSharper disable once UnusedMember.Local
    private async void OnVoteClick(VoteEventArgs e)
    {
        _votingSession.Vote(Name, e.Value);
        _counts = _votingSession.GroupAndCount();

        await _votingMessagingService.SendVotingAsync(_votingSession);
    }

    // ReSharper disable once UnusedMember.Local
    private void OnOkClickedAfterError(ModalEventArgs e)
    {
        if (e.Value == ModalResult.Ok)
        {
            _isError = false;
            //NavigationManager.NavigateTo($"estimation/{SessionId}/{Name}");
        }
    }

    // ReSharper disable once UnusedMember.Local
    private async void OnUpdate(Tuple<string, string> tuple)
    {
        _votingSession.Description = tuple.Item1;
        _votingSession.Story = tuple.Item2;

        await _votingMessagingService.SendStoryAsync(_votingSession);
    }

    // ReSharper disable once UnusedMember.Local
    private void ClearVotes()
    {
        _votingSession.ClearVotes();

        // and refresh all others
        Task.Run(async() =>
        {
            await _votingMessagingService.SendVotingAsync(_votingSession);
        });
    }

    protected override void Dispose(bool disposing)
    {
        if (disposing)
        {
            DisposeThis();
        }

        base.Dispose(disposing);
    }

    private void DisposeThis()
    {
        if (!_isError)
        {
            _votingSession.Exit(Name);
        }

        if (_votingMessagingService != null)
        {
            Task.Run(async () =>
            {
                await _votingMessagingService.SendStoryAsync(_votingSession);
                await _votingMessagingService.DisposeAsync();
                _votingMessagingService = null;
            });
        }
    }
}