﻿@page "/"

@inject NavigationManager NavigationManager

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Estimation Poker</h1>
        <p class="lead">Blazor fun project - estimating agile stories.</p>
        <p>Join an estimation session by creating a new session, copying the link and share it with peers, then entering your name. Give your vote! Votes are shown after every participant has given his vote.</p>
        <img src="images/cubes.jpg" width="600" />
    </div>
</div>

<button class="btn btn-primary" @onclick="OnJoin">Create a new estimation session!</button>

@code
{
    public void OnJoin()
    {
        var sessionId = $"join/{Guid.NewGuid()}";

        NavigationManager.NavigateTo(sessionId);
    }
}