﻿@page "/join/{sessionId}"

@inject NavigationManager NavigationManager

@using EstimationPoker.Data

<h1>lem's Estimation Poker</h1>

<p>Joined session '@SessionId'</p>
<p>Copy this link <a href="@(NavigationManager.Uri)">@(NavigationManager.Uri)</a> and send it to others.</p>

<EditForm Model="@_vote" OnValidSubmit="OnJoin">
    <label for="name">Your name:</label>
    <InputText id="name" @bind-Value="_vote.VoterName" />
    <button type="submit" class="btn-warning">Join now!</button>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code
{
    [Parameter]
    public string SessionId { get; set; }

    private readonly Vote _vote = new Vote();

    public void OnJoin()
    {
        NavigationManager.NavigateTo($"estimation/{SessionId}/{_vote.VoterName}");
    }
}